* {
  box-sizing: border-box;
}

#mapid { height: 180px; }


/* Style the body */
body {
  font-family: Zapf-Chancery;
  margin: 0;
  background-color: #ffffff;
}

/* Header layout for all webpages */
.header {
  padding: 50px;
  padding-bottom: 10px;
  text-align: left;
  background-image: url("leaf background.png");
  background-position: right;
  color: #ffffff;
  text-shadow: 10px 10px 15px black, 5px 5px 5px #506600;
  background-color: #131a08;
}

.header h1 {
  font-size: 45px;
}

.topnav {
  background-color: #506600;
  overflow: hidden;
  position: sticky;
  position: -webkit-sticky;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ffffff;
  color: black;
}

.topnav a.active {
  background-color: #92c73e;
  color: black;
}

.topnav .search-container {
  float: right;
}

.topnav input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

.topnav .search-container img {
  width: 20px;
  height: 15px;
  border: none;
}

/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */

/* Style of the navigation bar */

/* Column container */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

.column {
    display: flexbox;
    width: 45%;
    padding: 10;
    background: red;
    
  }

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #b1d07f;
  padding: 20px;
  
}

.slideimg {
    transform: rotate(90deg);
    height: 350px;
    width: 450px;
    margin: auto;
  
  }

  .slideshow-container {
    max-width: 400px;
    position: relative;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 10px;
  }

  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
  }


/* Main column */
.main {
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: #ffffff;
  padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 65%;
  padding: 20px;
}

.lake {
  height: 340x;
  width: 460px;
  border: 5px solid #0c4015;
}

/* Footer */
.footer {
  color: whitesmoke;
  padding: 20px;
  text-align: center;
  background: #131a08;
}


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
