* {
  box-sizing: border-box;
}

#mapid {
  width: 60%;
  height: 300px;
  margin-left: 20%;
  
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #ffffff;
}

/* Header layout for all webpages */
.header {
  padding: 50px;
  padding-bottom: 10px;
  text-align: left;
  background-image: url("leaf background.png");
  background-position: right;
  color: #ffffff;
  text-shadow: 10px 10px 15px black, 5px 5px 5px #506600;
  background-color: #131a08;
  font-family: Zapf-Chancery;
}

.header h1 {
  font-size: 45px;
}

/* Top Navigation Bar Styling */
.topnav {
  background-color: #506600;
  overflow: hidden;
  position: sticky;
  position: -webkit-sticky;
  border: 2px solid #131A08;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

 
}

.topnav a:hover {
  background-color: #ffffff;
  color: black;
}

.topnav a.active {
  background-color: #92c73e;
  color: black;
}

.topnav .search-container {
  float: right;
}

.topnav input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

.topnav .search-container img {
  width: 20px;
  height: 15px;
  border: none;
}

/* Column style on index.html page */
.column {
  float: left;
  width: 40%;
  padding: 10;
  margin: 5px;
}

.column h2 {
  color: #298C39;
  padding-left: 25%;
}

/* column style on about page */
.row-1 {
  display: flex;
}
.column-1 {
    float: 33.33%;
    padding: 5px;
    background: white;
}

.row-1::after {
  content: "";
  clear: both;
  display: table;
}

.column-1 img {
  transform: rotate(90deg);
  border: 3px double #26402A; 
  border-radius: 4px;
  padding: 5px;
  width: 100%;
}

.responsive {
  width: 100%;
  height: auto;
}

.flex-container {
  background-color: #b1d07f;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 20px;
}
.column-2 {
  width: 50%;
  background-color:whitesmoke;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-style: italic;
  border: 2px solid black;
  padding: 10px;
  margin: 20px;
  color: #131A08;
}

.column-3 {
width: 50%;
background-color: whitesmoke;
justify-content: center;
align-items: center;
text-align: center;
font-style: italic;
border: 2px solid black;
margin-top: 20px;
padding: 10px;
margin: 20px;

}

.column-3 h2{
  font-size: 40px;
  
}

.flex-container::after {
  content: "";
  display: table;
  clear: both;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}


/* Automatic image slide styling for index.html file */
.slideshow-container {
  max-width: 400px;
  position: relative;
  margin: auto;
  padding-top: 25px;
  padding-bottom: 10px;
}


.numbertext {
  color: #f2f2f2;
  font-size: 20px;
  position: absolute;
  top: 0;
  padding-top: 75px;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: relative;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.slideimg {
  transform: rotate(90deg);
  height: 350px;
  width: 450px;
  vertical-align: middle;
  width: 100%;
  height: auto;
}

/* End of styling for automatic image slideshow */

.heron img{
  max-width: 500px;
  max-height: 700px;
  width: 100%;
  height: auto;
}


.lake {
  max-height: 480px;
  max-width: 700px;
    width: 100%;
    height: auto;
}

.intro {
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 10px;
  background-color:#B1D07F;

}

.intro p{
  background-color: #FFFFFF;
  padding: 20px;
  margin-left: 10px;
  display: flex;
  width: 100%;
  height: auto;
  border: 2px solid #131A08;
  border-radius: 5px;
  text-align: center;
  
}

.heron img{
  width: 400px;
  height: 400px;
  transform: rotate(90deg);
}

.container {
  text-align: center;

}

.container h1{
  color: #26402A;
  text-decoration-line: underline;
  text-decoration-style: double;
}

.welcome {
  float: 33%;
  text-align: center;
  background-color: #b1d07f;
  font-family: Zapf-Chancery;
  align-items: center;
  margin: 20px;
  padding: 50px;
  width: 300px;  
  border: 3px solid;
  border-radius: 5px;
}

.container h2{
  color: #26402A;
}

.container p{
  font-style: italic;
}
.greenText { 
  color: #26402A; 
  font-weight: bold;
  font-size: 30px;
}

.goals {
  float: 33%;
  color: black;
  text-align: center;
  padding: 10px;
  padding-top: 25px;
  margin: 20px;
  border: 4px solid ;
  border-radius: 4px;
  align-items: center;
  position: absolute;
  background: #b1d07f;
}

/* Footer */
.footer {
  color: whitesmoke;
  padding: 30px;
  text-align: center;
  align-items: center;
  background: #131a08;
}

.closing {
  color: black;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 20px;
  border: 4px solid ;
  border-radius: 4px;
  background: #b1d07f;
  
}

/* Create two equal columns that floats next to each other */
.column-4 {
  float: left;
  width: 50%;
  padding: 10px;
  height: 400px; 
  text-align: center;
  vertical-align: middle;
  border: 2px solid black;
  /* Should be removed. Only for demonstration */

}

/* Responsive layout for index.html*/
@media screen and (max-width: 800px) {
  .column {
    width: 100%;
  }
}



.footer {
  color:black;
  position: fixed;
  left: 0;
  height: 80px;
  bottom: 0;
  width: 100%;
  background-color: rgb(244, 247, 244);
  text-align: center;
}


