* {
  box-sizing: border-box;
}

#mapid {
  width: 60%;
  height: 300px;
  margin-left: 20%;
  
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #ffffff;
}

/* Header layout for all webpages */
.header {
  padding: 50px;
  padding-bottom: 10px;
  text-align: left;
  background-image: url("leaf background.png");
  background-position: right;
  color: #ffffff;
  text-shadow: 10px 10px 15px black, 5px 5px 5px #506600;
  background-color: #131a08;
  font-family: Zapf-Chancery;
}

.header h1 {
  font-size: 45px;
}

/*End of Header layout for all webpages */

/* Top Navigation Bar Styling */
.topnav {
  background-color: #506600;
  overflow: hidden;
  position: sticky;
  position: -webkit-sticky;
  border: 2px solid #131A08;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

 
}

.topnav a:hover {
  background-color: #ffffff;
  color: black;
}

.topnav a.active {
  background-color: #92c73e;
  color: black;
}

.topnav .search-container {
  float: right;
}

.topnav input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

.topnav .search-container img {
  width: 20px;
  height: 15px;
  border: none;
}/* End of Top bar navigation styling */


/* column style on about page */
.row-1 {
  display: flex;
}
.column-1 {
    padding-top: 40px;
    float: 33.33%;
    padding: 5px;
    background: white;
    padding-bottom: 40px;
}

.row-1::after {
  content: "";
  clear: both;
  display: table;
}

.column-1 img {
  transform: rotate(90deg);
  border: 3px double #26402A; 
  border-radius: 4px;
  padding: 5px;
}

.responsive {
  width: 100%;
  height: auto;
}

.flex-container {
  background-color: #b1d07f;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 20px;
}
.column-2 {
  width: 50%;
  background-color:whitesmoke;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid black;
  padding: 10px;
  margin: 20px;
  color: #131A08;
}

.column-2 p{
  font-style: italic;
}

.intro {
  font-style: normal;
  font-size: 18px;
}

.column-3 {
width: 50%;
background-color: whitesmoke;
justify-content: center;
align-items: center;
text-align: center;
font-style: italic;
border: 2px solid black;
margin-top: 20px;
padding: 10px;
margin: 20px;

}

.column-3 h2{
  font-size: 40px;
  
}

.flex-container::after {
  content: "";
  display: table;
  clear: both;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}


/* Automatic image slide styling for index.html file */
.slideshow-container {
  max-width: 400px;
  position: relative;
  margin: auto;
  padding-top: 25px;
  padding-bottom: 40px;
}


.numbertext {
  color: white;
  font-size: 20px;
  position: relative;
  top: 0;
  padding-top: 75px;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-flexbox;
  transition: background-color 0.6s ease;
  position: relative;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.slideimg {
  transform: rotate(90deg);
  height: 350px;
  width: 450px;
  width: 100%;
  height: auto;
}

/* End of styling for automatic image slideshow */

.heron img{
  max-width: 500px;
  max-height: 700px;
  width: 100%;
  height: auto;
}


.heron img{
  width: 400px;
  height: 400px;
  transform: rotate(90deg);
}

.container {
  text-align: center;

}

.container h1{
  color: #26402A;
  text-decoration-line: underline;
  text-decoration-style: double;
}

.welcome {
  float: 33%;
  text-align: center;
  background-color: #b1d07f;
  font-family: Zapf-Chancery;
  align-items: center;
  margin: 20px;
  padding: 50px;
  width: 300px;  
  border: 3px solid;
  border-radius: 5px;
}

.container h2{
  color: #26402A;
}

.container p{
  font-style: italic;
}
.greenText { 
  color: #26402A; 
  font-weight: bold;
  font-size: 30px;
}

.goals {
  float: 33%;
  color: black;
  text-align: center;
  padding: 10px;
  padding-top: 25px;
  margin: 20px;
  border: 4px solid ;
  border-radius: 4px;
  align-items: center;
  position: absolute;
  background: #b1d07f;
}

.column-4 {
  float: left;
  width: 50%;
  padding: 10px;
  text-align: center;
  vertical-align: middle;

}

/* Footer styling */
.footer {
	bottom: 0;
	padding-top: 10px;
	width: 100%;
	height: 78px;
	background: #131a08 ;
}

.content {
	display: block;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
  text-align: center;
  background: #131a08;
}

.foot { 
  text-align: center; 
  line-height: 30px; 
  color: whitesmoke;
}

.logo{ 
  display: inline-block;  
  width: 150px;
  height: 200px;
}
/* End of Footer stlying */

.column-5 img{
  max-width: 500px;
  height: auto;
  border: 4px solid #354716;
  border-radius: 5px;
}

.column-5 p {
  background-color:#B1D07F;
  padding: 20px;
  margin-left: 10px;
  display: flex;
  width: 100%;
  height: auto;
  border: 2px solid #131A08;
  border-radius: 5px;
  text-align: center;
  
}
.column-5 {
  background: whitesmoke;
  float: left;
  width: 50%;
  padding: 10px;
  height: 400px; 
  text-align: center;
}

.column-5 h2{
  color: #131A08;
  text-shadow: 5px 5px 8px #354716;
  font-size: 35px;
}

.row-5:after {
  content: "";
  display: table;
  clear: both;
}

.ent {
  background: #B1D07F;
  padding-top:20px;
  text-align: center;
  padding-bottom: 10px;
  border: 3px solid #354716;
 
}


/* Responsive layout for all html files */
@media screen and (max-width: 600px) {
  .column, .column-3, .column-4, .column-5 {
    width: 100%;
  }
}




